{{ if site.Data.homepage.pricing.enable }}
{{ with site.Data.homepage.pricing }}
<section id="price">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
						{{ .title | markdownify }}</h1>
					<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
						{{ .description | markdownify }}</p>
					<div class="pricing-list">
						<div class="title">
							<h3>{{ .subtitle | markdownify }}</h3>
						</div>
						<ul>
							{{ range .pricing_item }}
							<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
								<div class="item">
									<div class="item-title">
										<h2>{{.title}}</h2>
										<div class="border-bottom"></div>
										<span>{{.price}}</span>
									</div>
									<p>{{.description}}</p>
								</div>
							</li>
							{{ end }}
						</ul>
					</div>
					<div class="pricing-list">
						<div class="title">
							<h3>{{ .subtitle_bar | markdownify }}</h3>
						</div>
						<ul>
							{{ range .pricing_item_bar }}
							<li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
								<div class="item">
									<div class="item-title">
										<h2>{{.title}}</h2>
										<div class="border-bottom"></div>
										<span>{{.price}}</span>
									</div>
									<p>{{.description}}</p>
								</div>
							</li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .containe close -->
</section><!-- #price close -->
{{end}}
{{end}}